/* You can add global styles to this file, and also import other style files */
body {
    padding: 20px;
}

.links line {
    stroke: #999;
    stroke-opacity: 2.6;
    stroke-linecap:round;
  }
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }