/* You can add global styles to this file, and also import other style files */
 body {
    padding: 20px;
}

/* for table-realtion */

 /* .links line {
    stroke: #999;
    stroke-opacity: 2.6;
    stroke-linecap:round;
  }
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }   */



  /*for collapse1 */
 
  body {
    background-color: #E6E6E6;
  }
  
  svg {
    width: 100vw;
    height: 100vh;
  }
  
  .node {
    pointer-events: all;
    cursor: pointer;
    z-index: 1000;
  }

 text {
  font-weight: 100;
  letter-spacing: 2px;
 } 
  

